.row
  - classes.keys.each_slice(classes.length/4) do |idmef_classes|
    .col-md-3
      %ul
        - idmef_classes.each do |idmef_class|
          %li
            %a{href: "/#{idmef_class}.html"}= idmef_class

