.navbar.navbar-default.navbar-inverse{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "/#{location}", title: title}= title
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.dropdown
          %a.dropdown-toggle{href: "#", "data-toggle" => 'dropdown', role: "button"}
            Main classes
            %span.caret
          %ul.dropdown-menu
            - classes.each do |key, value|
              - if !value.fetch("aggregates", {}).merge(value.fetch("childs", {})).select{|k, v| classes.include? k}.empty?
                %li{class: key == idmef_class ? "active" : ""}
                  %a{href: "/#{location}#{key}.html"}= key

