!!!
%html
  %head
    %meta{charset: "UTF-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %title= title
    %link{rel: "stylesheet", href: "/css/bootstrap.min.css"}
    %script{src: "/js/jquery.min.js"}
    %script{src: "/js/bootstrap.min.js"}
  %body
    = head
    %hr
    .container
      = body

    %hr

    = footer
